###############################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://haproxy.1wt.eu/download/1.3/src/haproxy-1.3.22.tar.gz
md5sum = b84e0935cfea99eda43645d53bb82367
noconfigure=true
make-options=USE_PCRE=1 TARGET=generic PREFIX=${buildout:directory}/parts/part


#patches=${buildout:directory}/minitage.patch
#patch-options=-Np1
post-make-hook=${buildout:directory}/h.py:p

